@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand-blue: #0070BA;
    --brand-cyan: #2CA6E0;
}

@media print {
    body {
        display: none !important;
    }
}

/* Additional User Selection disabling */
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Brand Gradients */
.bg-brand-gradient {
    background: linear-gradient(135deg, var(--brand-blue) 0%, var(--brand-cyan) 100%);
}
